*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}

@font-face {
    font-family: fuente1;
    src: url(./assets/fonts/coolvetica.otf);
}

@font-face {
    font-family: fuente2;
    src: url(./assets/fonts/Experiencia.woff2);
}

@font-face {
    font-family: fuente3;
    src: url(./assets/fonts/Tesla.woff2);
}




.body {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1.8fr 12fr;
width: 100vw;
height: 100vh;
font-family: fuente1;
align-items: center;
position: relative;
color: aliceblue;
}

.body__section__background {
    position: fixed;
    z-index: -10;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


body header nav ul a {
    font-family: fuente3;
    font-size: 0.9rem;
    text-decoration: none;

}


.header__nav {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.8fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.header__nav__div {
    padding-left: 2rem;
}

.header__nav__div__logo {
    width: 10rem;
}

.header__nav__ul--central {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.header__nav__ul--derecha {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    position: relative;
}

.header__nav__ul--central__a {
    text-decoration: none;
    color: aliceblue;
}


.header__navHamb {
    width: 1px;
    overflow: hidden; 
    position: relative;
}


.header__navHamb__ul {
    background-color: aliceblue;
    width: 0rem ;
    position: absolute;
    left: 300rem;
    flex-direction: column;
    gap: 2rem;
    right: 0rem;
    right: 0;
    top: 0;
    padding-left: 2rem;
    padding-top: 2rem;
    height:100vh ;
    opacity: 0%;
    translate: 100%;
    display: none;

}

.header__navHamb__ul--b {
    background-color: aliceblue;
    width: 18rem ;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    right: 0rem;
    top: 0;
    padding-left: 2rem;
    padding-top: 2rem;
    height:100vh ;
    opacity: 100%;
    translate: 0;
    transition: all 0.2s linear;
    z-index: 2;

   
}

.cierreX {
    align-self: end;
    color:rgb(0, 0, 0);
    width: 1.5rem;
    margin-right: 2rem;
    
}

.header__navHamb__ul__a {
    text-decoration: none;
    color: black;
 

}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 3fr 1fr;
}

.main__section--top {
    justify-self: center;
}

.main__section--top__h1 {
        text-align: center;
        font-size: 2.5rem;
        font-family: fuente2;
}

.main__section--top__p {
    text-align: center;
    font-size: 1rem;
    font-family: fuente2;
    margin-top: 1rem;
}

.main__section__bottom {
    justify-self: center;
    padding-top: 2.7rem;
}

.main__section__bottom__p {
    text-decoration: none;
    color: aliceblue;
    border: 3px solid aliceblue;
    padding: 0.5rem 7rem;
    border-radius: 0.5rem;
    transition: all 1s linear;
}


.main__section__bottom__p:hover {
    background-color: aliceblue;
    color: black;
}

@media (max-width: 1200px) {
 .header__nav__ul--central__a {
    display: none;
 }
 .header__nav__ul--central__a--menuHamb {
    display: grid;
    margin-right: 10%;
 } 

 

}

@media (min-width: 1900px) {
    .body__section__background__video {
      width: 100vw;
 
    }
}




